*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #b5b5b5;
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 0.87rem;
    color: #ffffff;
    background-color: #1B1C30;
    line-height: 2rem;
    height: 100vh;
}

.container{
    padding: 2rem 1.25rem 1.25rem 0;
    display: flex;
    justify-content: space-between;
}

.side-bar{
    width: 15%;
    padding-left: 1.25rem;
    background-color: #1D253B;
    height: 100vh;
    border-right: 1px solid #cccccc1f;
}

.main-content{
    width: 82%;
}

.header{
    display: flex;
    justify-content: space-between;
}

.user-information{
    display: flex;
    justify-content: space-between;
}

.header-search-form{
    border-radius: 30px 0 0 30px;
    outline: none;
    border: none;
    padding: 0.32rem;
    width: 25rem;
}

.header-search-btn{
    border-radius: 0 30px 30px 0;
    border: none;
    outline: none;
    padding: 0.31rem 1rem;
    background-color: #624EE4;
    color: #ffffff;
    cursor: pointer;
}